body {
  background-color: #e8e2c9;
}

h1 {
  text-align: center;
}

h3{
  margin-top: 80;
  margin-bottom: 10;
}

.m {
  float:left;
  width: 80%;
  /* text-align: center; */
  display: inline-block;

}

.container {
  /* border-radius: 20px; */
  background-color: #8e805f;
  height: 900;
  width: 1100;
  text-align: center;
}

.chart {
  float: left;
  width: 20%;
  display:flex;
  flex-wrap: wrap;
}

[id^="slider"] {
  float: left;
  height: 100;
  width: 200;
  text-align: center;
  margin-top: -15;
  margin-left: -30%;
}
[id^="year"] {
  margin-top: 50;
  margin-left: -60%;
  float: left;
}
[id^="label"] {
  margin-bottom: -35;
  margin-left: 5;
}


.state {
  fill: lightgrey;
  stroke: none;
}

.outline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.graticule {
  fill: none;
  stroke: white;
}
